.codePane {
  flex: 1;
  margin: 0.75rem 1.25rem;
  border: 1px solid #000;
  display: flex;
}

.textarea {
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  padding: 0.75rem;
  font-family: "Cascadia Code", Consolas, monospace;
  font-size: 0.9rem;
  line-height: 1.4;
}
